<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<style>
.sidenav {
  height: 100%;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 290px;
  left: 0;
  background-color: black;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 30px;
}
/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  font-family: Georgia, serif;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
div.background {
  background: url("../images/mill.jpg");
  border: 2px solid black;
  position:absolute;
  height: 288px;
  left: 0px;
  top: 0px;
  width:120%
}
img {
  border-radius: 50%;
  width:250px;
  height:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
div.transbox {
  margin: 0px;
  background-color: black;
  border: 1px solid black;
  opacity: 0.8;
  height: 288px;
  
} 
div.transbox1 {
  margin: 25px;
  background-color: white;
  border: 1px solid white;
  margin-left: auto;
  opacity: 0.9;
  height: 70px;
  position:absolute;
  width:100%;
} 
.heading{
  font-family: Georgia, serif;
  font-size: 35px;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}
.heading1{
  font-family: Georgia, serif;
  font-size: 25px;
  font-style: bold;
  letter-spacing: 2px;
  color: white;
  text-align: center;
}
.dropdown{
  font-family: Georgia, serif;
  font-size: 18px;
  letter-spacing: 2px;
  color: black;
  padding: 25px 50px;
  text-decoration: none;
}
.body-content1{
  position: absolute;
  height: 390px;
  width: 740px;
  top: 200px;
  left: 90px;
  background-color: white;
}

th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}
.tbl-header{
  background-color: grey;
 }

.submit{
  background-color: grey;
  color:black;
  padding: 14px 20px;
  border: 1px solid grey;
  text-align: center;
  font-family: Georgia, serif;
}
.dropdown-content{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(14, 0, 0, 0.856);
  max-width: 1600px;
  margin: auto;
  text-align: center;
  font-family: Georgia, serif;
  align-items: center;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
</style>
</head>
<body>
<div class="background">
<div class="transbox">
<div class="transbox1"></div>
<br><br><br><br><br><br><br><br>
<div class="heading">Srinivasan Textile<br><div class="heading1">(Yarn & clothes)</div>
</div></div></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<table><tr>
<td>
  <div class="sidenav">
    
    <button class="dropdown-btn">Employees
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="/employee">Add Employees</a>
      <a href="/employee/updateemployee">Update Employees</a>
      <a href="#">Delete Employees</a>
    </div>
   
    <button class="dropdown-btn">Stocks 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="/admin/addstocks">Add Stocks</a>
      <a href="/admin/updatestocks">Update Stocks</a>
      <a href="#">Delete Stocks</a>
    </div>
   
 
</td><td/><td/><td/><td/><td/><td/><td/><td>
  <div class="card">
<table  cellspacing="15px" cellpadding="100px">
  <thead>
<b><h2>Yarn orders</h2></b>
<tr><b>
    <td><b>Cottontype</td>
    <td><b>Cotton percent</td>
    <td><b>Polyster percent</td>
    <td><b>Quantity(in bags)</td>
    <td><b>Regular Intervals</td>
    <td><b>Date of delivery</td>
      <td><b>Price</b></td>
</tr>
  </thead>
   <% if(yarns.length > 0){ %>
    <% for (let yarn of yarns) { %>
   <tr>
  <td><%= yarn.cotton%></td>
  <td><%= yarn.cottonpercent%></td>
  <td><%= yarn.polysterpercent%></td>
  <td><%= yarn.quantity%></td>
  <td><%= yarn.regular%></td>
  <td><%= yarn.date%></td>
  <td>
    <% var totalprice=0;%>
    <% var yarnprice=0;%>
    <% if(yarn.cotton === 'Recycledcotton' || yarn.cotton === 'Purecotton' && yarn.cottonpercent === '75' && yarn.polysterpercent === '25'){ %>
    <% var yarnprice='110';%>
    <% } %>
    <% if(yarn.cotton === 'Recycledcotton' || yarn.cotton === 'Purecotton' && yarn.cottonpercent === '70' && yarn.polysterpercent === '30'){ %>
      <% var yarnprice='145';%>
      <% } %>
      <% if(yarn.cotton === 'Recycledcotton' || yarn.cotton === 'Purecotton' && yarn.cottonpercent === '60' && yarn.polysterpercent === '40'){ %>
        <% var yarnprice='190';%>
        <% } %>
      
    Rs.<%- yarnprice=yarnprice*yarn.quantity%>
    <%totalprice=totalprice+yarnprice%>
    </td> 
   </tr>
  
  <% } %>
  <% } else {%>
    <tr> <h1> No orders found </h1></tr>
  <% } %>
</table>
<table  cellspacing="15px" cellpadding="100px">
    <thead>
  <b><h2>Fabric orders</h2></b>
  <tr><b>
    <td><b>Clothe</td>
    <td><b>Color</td>
    <td><b>Quantity(in metres)</td>
    <td><b>Regular Intervals</td>
    <td><b>Date of delivery</td>
    <td><b>Price</b></td>
</tr>
    </thead>
     <% if(fabrics.length > 0){ %>
      <% for (let fabric of fabrics) { %>
     <tr>
    <td><%= fabric.clothe%></td>
    <td><%= fabric.color%></td>
    <td><%= fabric.quantity%></td>
    
    <td><%=  fabric.regularintervals%></td>
    <td><%= fabric.date%></td>

    <td>
      <% var fabricprice=0;%>
      <% if(fabric.clothe === "10's"){ %>
      <%  fabricprice='30';%>
      <% } %>
      <% if(fabric.clothe === "20's"){ %>
        <%  fabricprice='40';%>
        <% } %>
        <% if(fabric.clothe === "30's" ){ %>
        <%  fabricprice='50';%>
        <% } %>
         
      Rs.<%- fabricprice=fabricprice*fabric.quantity%>
    
      <%totalprice=totalprice+fabricprice%>
        </td>
     </tr>
    
    <% } %>
    <% } else {%>
      <tr> <h1> No orders found </h1></tr>
    <% } %>
  </table>
  <table  cellspacing="15px" cellpadding="100px">
    <thead>
  <b><h2>Garments orders</h2></b>
  <tr><b>
    <td><b>Material type</td>
    <td><b>Description</td>
    <td><b>Quantity(in pieces)</td>
    <td><b>Regular Intervals</td>
    <td><b>Date of delivery</td>
      <td>price</td>
</tr>
    </thead>
     <% if(garments.length > 0){ %>
      <% for (let garment of garments) { %>
     <tr>
    <td><%= garment.material%></td>
    <td><%= garment.description%></td>
    <td><%= garment.pieces%></td>
    <td><%= garment.date%></td>
    <td><%=  garment.regular%></td>
    <td>
      <% var garmenprice=0;%>
      <% if(garment.material === "sleepware"){ %>
      <%  garmentprice='30';%>
      <% } %>
      <% if(garment.material === "casualwear"){ %>
        <%  garmentprice='40';%>
        <% } %>
        <% if(garment.clothe === "sportswear" ){ %>
        <%  garmentprice='50';%>
        <% } %>
         
      Rs.<%- garmentprice=garmentprice*garment.pieces%>
    
      <%totalprice=totalprice+garmentprice%>
        </td>
        </tr>
        <tr>
         
          <td/>
          <td/>
          <td/>
          <td/>
        <td><b> <h2>Total Price</h2></b></td>
        <td><h2>Rs.<%- totalprice%></h2></td>
     </tr>
    <% } %>
    <% } else {%>
      <tr> <h1> No orders found </h1></tr>
    <% } %>
  
  </table>
</td></tr>
</table>
</div>
<table style="position:absolute;top:8px;left:100px">
    <tr>
    <th><div class="dropdown"> Home
  </th>
  <th><div class="dropdown"> Orders
    <div class="dropdown-content">
     <a href="/admin/userrequestyarn">YARN</a>
     <a href="/admin/userrequestfabric">FABRIC</a>
     <a href="/admin/userrequestgarments">GARMENTS</a>   </th>
     
 <th><div class="dropdown">Messages
</th>
<th><div class="dropdown"> SalesReport
 <div class="dropdown-content">
  <a href="/admin/todayorders">Today's orders</a>
  <a href="/admin/dateorders">Orders by date</a>
  <a href="/admin/monthorders">Monthly orders</a>
    </th>
    <th><div class="dropdown"> PurchaseReport
      <div class="dropdown-content">
       <a href="/admin/todaypurchase">Today's purchase</a>
       <a href="/admin/datepurchase">purchase by date</a>
       <a href="/admin/monthpurchase">Monthly purchase</a>
         </th>
   <th><div class="dropdown"> StockReport
          <div class="dropdown-content">
           <a href="/admin/todaysales">Today's Stocks</a>
           <a href="/admin/datesales">Stocks by date</a>
           <a href="/admin/monthsales">Monthly Stocks</a>
             </th>
    </tr>
    </table>
    <script>
      /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;
      
      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "block";
        }
        });
      }
      </script>